/** @format */

.mobile-store-locator-home-container {
  background-color: #efefef;
  .store-image-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mobile-location-container {
    padding: 15px 0 15px 0;
    .mobile-location-title {
      font-family: var(--trim-font-family);
      font-size: 28px;
      font-weight: bold;
      color: #000;
      letter-spacing: 3px;
    }
    .mobile-store-locations-list-container {
      min-height: 250px;
      overflow: auto;
    }
  }
}
