/** @format */

.reset-passwor-container {
  height: 80vh;
  display: flex;
  margin: 0 30px 0 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .reset-password-image {
    height: 600px;
    width: 600px;
  }

  .forgot-title {
    font-family: var(--trim-font-family);
    font-weight: bold;
    font-size: 42px;
    letter-spacing: 6px;
  }

  .form-group-reset {
    width: 500px;
    margin-top: 60px !important;
  }

  .icon-color {
    color: #aaa;
  }

  .icon-focus {
    color: #ee5f14;
  }

  .fieldWithIcon {
    border: none;
    border-bottom: 1px solid #b6b4b4;
    border-radius: 0px;
    margin-top: 10px;
    height: 50px;
    &:focus {
      box-shadow: none;
      border-bottom: 1px solid #ee5f14;
      color: #ee5f14;
    }
    &:focus::placeholder {
      color: #ee5f14;
    }
  }

  .reset-password-button {
    background: #ee5f14;
    color: #fff;
    border-radius: 15px;
    padding: 9px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      background: #b9460a;
    }
  }
}
