/** @format */

.product-form-container {
  margin: 20px 0px 0 40px;
  height: calc(100vh - 90px);
  overflow: auto;
  .product-route-container {
    display: flex;
    flex-direction: row;
    .back-to-route {
      padding: 9px;
      border: 1px solid #babfc3;
      border-radius: 4px;
      cursor: pointer;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      font-weight: bold;
      font-size: 18px;
      color: #202223;
    }
  }

  .form-inner-container {
    margin-top: 30px;
    .form-field-container {
      background: white;
      border-radius: 4px;
      padding: 20px;
      box-shadow: var(
        --p-card-shadow,
        0 0 0 1px rgba(63, 63, 68, 0.05),
        0 1px 3px 0 rgba(63, 63, 68, 0.15)
      );
      .attachment-modal-header {
        margin-bottom: 20px;
        .varient-header {
          color: #202223;
          font-weight: bold;
          font-size: 14px;
        }
        .varient-border {
          border-bottom: 1px solid #f0f1f2;
          margin-bottom: 10px;
          padding-bottom: 20px;
        }
        .varient-image {
          width: 4rem;
          height: 4rem;
          border-radius: 4px;
        }
        .varient-stock {
          font-size: 13px;
        }
        .attachment-header-title {
          font-size: 18px;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
          color: #222222;
        }
      }
      .form-field {
        margin-top: 10px;
        .field-title {
          font-weight: 400;
          line-height: 2rem;
          text-transform: none;
          letter-spacing: normal;
          display: block;
          flex: 1 1 auto;
          color: #000;
          font-size: 0.9rem;
        }
      }
    }
    .stack-button {
      position: fixed;
      .button-bold {
        position: relative;
        align-items: center;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        display: inline-flex;
        min-width: 8rem;
        padding: 0 1.2rem;
        justify-content: center;
        user-select: none;
        vertical-align: bottom;
        white-space: nowrap;
        padding: 9px;
        color: #f7af3a;
        font-weight: bold;
        border: 1px solid #f7af3a;
        &:hover {
          background: #f7af3a;
          color: white;
        }
      }
    }
  }
}

// Global
.varient-button {
  border: none;
  background: white;
  border: 1px solid #babfc3;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  text-align: center;
  float: right;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    background: #f6f6f7;
  }
  &:focus {
    outline: none;
  }
}

.product-add-file {
  background: var(--p-action-secondary-hovered);
  outline: 0.1rem solid transparent;
  border: 1px solid #dcdfe1;
  padding: 7px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 4px;
  width: 110px;
  text-align: center;
  color: #4c4e4f;
  background: white;
  &:hover {
    background: #f6f6f7;
    cursor: pointer;
  }
}
